* {
    box-sizing: border-box;
}

:root {
    --font-h1: "Sen", sans-serif;
    --color-button: #FFB900;
}


html {
    font-size: 62.5%;

}


/* =========================common======================================= */
.heading-lv2 {
    font-family: var(--font-h1);
    font-weight: 700;
    font-style: Bold;
    font-size: 38px;
    line-height: 48px;
    letter-spacing: -2%;

}

/* ======================== TỐI ƯU HÓA TIÊU ĐỀ ============================================== */


.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.line-clamp.line-2 {
    --line-clamp: 2;
}


.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: block;
    color: white;
    line-height: 50px;
    min-width: 118px;
    font-size: 1.6rem;
    padding: 0px 16px;
    text-align: center;
    font-weight: 700;
    background: #000;
    border-radius: 24.5px;
}

.btn:hover {
    opacity: 0.8;
}

/* khôi phục cỡ chữ */
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;

    /* =====================heder============================== */
}

.header {
    background-color: #ffe4c4;



}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header.fixed img {
    height: 40px;

    object-fit: cover;
}


a {
    text-decoration: none;
}


.nav a {
    color: hsl(0, 0%, 40%);
    text-align: center;
    font-size: 1.6rem;
    padding: 8px 21px;
    position: relative;

}

.nav a:hover {
    color: black;
    text-shadow: 1px 0 0;
}





.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0px;
}

.nav ul {
    display: flex;
}

.nav {
    margin-left: auto;
}

.nav li.active a::after {
    position: absolute;
    left: 21px;
    bottom: 6px;

    display: block;
    background: black;
    content: "";
    height: 2px;
    width: 12px;


}

.header .action {
    margin-left: 49px;
}

/* img {
    border-radius: 15px;
}

.media-block img {
    height: 685px;
    width: 470px;

} */

/* ================================Hero============================================- */
.hero {
    padding-top: 56px 0 65px;
    background-color: #ffe4c4;
}

.hero .body {
    display: flex;
}

/* =====================Khối trái================================= */
.hero .media-block {
    position: relative;
    width: 48%
}

.hero .content-block {
    width: 52%;
}

.hero .media-block img {
    width: 470px;
    height: 685px;
    border-radius: 15px;
    object-fit: cover;

}

.hero .hero-summary {
    width: 270px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 0;
    bottom: 48px;
    padding: 24px;
    border-radius: 10px;
}

.hero-summary .item {
    display: flex;
    margin-top: 22px;
    align-items: center;

}

.hero-summary .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-summary .icon1 {
    color: rgb(255, 175, 37);
    background-color: rgb(255, 237, 203);

}

.hero-summary .icon2 {
    color: rgb(161, 33, 161);
    background-color: rgb(255, 221, 255);

}

.hero-summary .icon3 {
    color: rgb(23, 23, 194);
    background-color: rgb(184, 184, 230);
}

.hero-summary .info {
    margin-left: 16px;
}

.hero-summary .label {
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5F5B53;
}

.hero-summary .title {
    font-size: 1.8rem;
    line-height: 3rem;
}


/* ===================Khối phải==================== */
.content-block {
    /* vì khối trái chiếm 48% độ rộng nên độ rộng khối phải 52% */
    width: 52%;
    padding-left: 130px;
    padding-top: 64px;
}

.hero .hero-h1 {
    font-style: bold;
    font-family: var(--font-h1);
    font-size: 5.8rem;
    line-height: 6.8rem;
    font-weight: 700;

}

.hero .hero-p {
    margin-top: 15px;
    color: #5F5B53;
    font-weight: 400;

    font-size: 1.8rem;

    line-height: 30px;

}

/* .hero .hero-P {



    font-weight: 400;
    color: #ffffff;
    font-size: 1.8rem;

    line-height: 30px;
    letter-spacing: 0%;

} */

.hero .hero-action {
    display: flex;
    align-items: center;
    margin: 38px;
}


.btn-see-courses {
    display: block;
    line-height: 50px;
    min-width: 150px;
    font-size: 1.6rem;
    padding: 0px 16px;
    text-align: center;
    font-weight: 700;
    background: var(--color-button);
    border-radius: 24.5px;
}

.hero .fa-circle-play {
    font-size: 4rem;
    color: rgb(255, 255, 255);


}

.hero .wacth-video {
    border: none;
    margin-left: 28px;
    display: flex;
    background: transparent;
    align-items: center;
}

.hero span {
    margin-left: 15px;

    font-weight: 600;
    font-style: SemiBold;
    font-size: 18px;

    line-height: 30px;


}

.hero .more {
    display: flex;

}

.hero strong {
    color: #000;
    margin-right: 15px;
    font-family: var(--font-h1);
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 5.4rem;
    font-style: bold;
}

.hero .strong2 {
    margin-left: 28px;
}

/* ===========popular================================================================= */
.popular {
    padding: 65px 0;
    margin-top: 135px;
}

.popular-top {
    display: flex;
    justify-content: space-between;

}


.popular-top .paragrap {
    margin-top: 26px;
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    color: #5F5B53;
    line-height: 30px;
    letter-spacing: 0%;

}

.popular-top .control img {
    height: 70px;
}

.popular-top .right {
    rotate: 180deg;
}



.popular-top .control {
    display: flex;
    justify-items: center;
    background: transparent;
    align-items: center;
    border-radius: 50%;
    gap: 18px;

    margin-left: 100px;
}


.popular .popular-top .control :hover {
    cursor: pointer;
    background: #FFB900;
    color: white;
    border-radius: 50%;
}

.popular .popular-body {
    flex: 1;
    gap: 30px;
    margin-top: 55px;
    display: flex;
}


.popular .body-item {
    border-radius: 12px;
    background: white;
    box-shadow: 0px 18px 36px 0px hsla(0, 0%, 0%, 0.5);

}

.popular .popular-body .thumb {
    width: 100%;
    object-fit: over;
    height: 278px;
    opacity: 1;
    border-radius: 15px;

}

.popular .popular-body .info {
    margin: 16px 22px 22px;
}

.popular .head .rating,
.popular .head,
.book {
    justify-items: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.popular .book {
    margin-top: 30px;
}


.popular .popular-body .decs {
    margin-top: 22px;
}

.popular .popular-body .title {
    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 18px;

    line-height: 30px;
    letter-spacing: 0%;
}

.popular .popular-body .price {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;

}

.popular .popular-body .footer {
    margin-top: 12px;
}

.popular .popular-body .value {
    color: var(--color-button);
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;

}


.popular .popular-body .btn:hover {
    background: var(--color-button);
    border-color: var(--color-button);

}



/* ============================= Feeback =========================================================== */
.feedback {
    margin-top: 135px;
    background-color: #2E2100;
    padding: 96px 0px;
}

.feedback .feedback-list .feeback-item {

    color: white;

}

.feedback .info .avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;


}

.feedback-list {
    display: flex;
    overflow: hidden;
}

.feeback-item {
    display: flex;
    flex-shrink: 0;
    width: 100%;

}



.feedback .feedback-list .name {
    font-family: var(--font-h1);
    font-weight: 700;
    font-style: Bold;
    font-size: 2.4rem;
    line-height: 34px;
    margin-top: 18px;
}

.feedback .feedback-list .decs {
    margin-top: 4px;

    font-weight: 400;
    font-size: 14px;
    line-height: 26px;

}

.feedback .feedback-list .dots {
    display: flex;
    gap: 6px;

}

.feedback-list .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
}

.feedback-list .dot.active {
    background: #FFB900;
}

.feedback-list .content {
    width: 60%;
    margin-left: auto;
}

.feedback-list .comment {
    font-family: Poppins;
    font-weight: 400;
    font-style: Italic;
    font-size: 26px;
    line-height: 40px;
    letter-spacing: 0%;
    color: white;

}

.feedback-list .info img:hover {
    scale: 1.2;



}

/* =================== features =================== */
.features {
    padding: 65px 0px;
    margin-top: 135px;
}

.features .body {
    justify-content: space-between;
    display: flex;
}

.features .images img {
    object-fit: cover;
    width: 270px;
    height: 404px;
    opacity: 1;
    border-radius: 16px;
    gap: 30px;
    border-radius: 12px;
    background: white;
    box-shadow: 0px 18px 36px 0px hsla(0, 0%, 0%, 0.5);
}


.features .images {
    gap: 30px;
    display: flex;

}

.features .lower {
    margin-top: 34px;

}


.features .content {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.features .decs {
    margin-top: 16px;
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 1.6rem;
    line-height: 28px;
    letter-spacing: 0%;
    color: #5F5B53;

}

.features .cta-btn {
    width: 137px;
    margin-top: 21px;
    height: 50px;
    background: var(--color-button);
    opacity: 1;
    border-radius: 26px;
    border-color: var(--color-button);


}

/* ====================== CTA ================================== */
.CTA .body {
    display: flex;
    margin-top: 130px;
    justify-content: space-between;
    gap: 30px;
}

.CTA .images img {
    object-fit: cover;
    width: 470px;
    height: 440px;
    border-radius: 12px;
    background: white;
    box-shadow: 0px 18px 36px 0px hsla(0, 0%, 0%, 0.5);
    opacity: 1;
    border-radius: 20px;
}




.CTA .content {

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.CTA .decs {
    margin-top: 22px;
    font-family: Poppins;
    font-weight: 400;
    color: #5F5B53;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;

}

.CTA .btn {
    margin-top: 30px;
    width: 137px;
    height: 50px;
    top: 3482px;
    left: 135px;
    opacity: 1;
    border-radius: 26px;
}

/* ================= Blog ====================== */
.blog {
    margin-top: 135px;
    padding: 96px;

    background: #FFFCF4;
}

.blog .blog-list {
    overflow: hidden;
    display: flex;
    gap: 30px;
    border-radius: 12px;
}



.blog .blog-top {

    text-align: center;

}

.blog .decs {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #696262;
    width: 448px;
    margin: 0 auto;

}

.blog .blog-item {
    background: white;
    width: 30%;
    margin: 20px 0 20px 10px;
    border-radius: 12px;
    box-shadow: 0px 18px 36px 0px hsla(0, 0%, 0%, 0.5);
    flex-shrink: 0;
}

.blog .content {
    margin: 15px 0px 20px 15px;
}


.blog .blog-list .thump {
    object-fit: cover;
    width: 100%;
    height: 250px;
    opacity: 1;
    border-radius: 16px;

}


.blog .blog-item .date {
    margin-top: 30px;
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0%;
    color: #5F5B53;
}

.blog .blog-item .hr {
    width: 160px;
    height: 1px;
    opacity: 1;
    border-radius: 0.5px;

}


.blog .blog-item .title {
    margin-top: 20px;
    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    line-height: 28px;
}

.blog .blog-item .btn {
    font-size: 1.4rem;
    margin-top: 20px;
    width: 118px;
    height: 50px;
    opacity: 1;
    border-radius: 25px;
}

.blog .blog-item .btn:hover {
    border: var(--color-button);
    background: var(--color-button);
}

.blog .dots {
    display: flex;
    gap: 6px;
    justify-content: center;
    margin-top: 6%;
}


.blog .dot {
    height: 6px;
    width: 6px;
    background: #5F5B53;
    padding: 6px 6px;
    border-radius: 50%;
    cursor: pointer;
}

.blog .dot.active {
    background: var(--color-button);
}

/* ================= footer=============================== */
.footer {
    background: #2E2100;
    padding: 96px 135px 0;
}

.footer .row {
    display: flex;
    padding-bottom: 38px;
    border-bottom: 1px solid #59554B;
}

.footer .row .colum {
    width: 21.6%;
}

.footer .row .colum:first-child {
    width: 35%;
}

.footer .row .decs {
    margin-top: 18px;
    max-width: 267px;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #BFBCB2;
}

.footer .socials {
    display: flex;
    margin-top: 18px;
    gap: 20px;
    width: 18px;
    height: 15px;
    opacity: 1;
    color: aliceblue;
}

.footer .title {
    padding-bottom: 14px;
    padding-right: 48px;
    display: inline-block;
    border-bottom: 1px solid #59554B;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 28px;

}

.footer .list {
    margin-top: 48px;

}

.footer .list a {
    margin-bottom: 12px;
    display: inline-block;
    color: #BFBCB2;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
}

.footer .list a:last-child {
    margin-bottom: 0;
}

.footer .list strong {
    color: white;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
}

.footer .end {
    padding: 28px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    color: #807D74;

}